html {
  /*background:
    linear-gradient(
      rgba(0, 0, 0, 1), 
      rgba(255, 0, 0, 0.10)
    ),
    url(images/background.jpg) no-repeat center center fixed;
  */
  background: #eaeaea;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-x;
  font-family: 'Zilla Slab', serif;

}
body{
  display: flex;
  flex-flow: column wrap;
}
h1{
 
  color: #bc2525;
}
nav{
 
  border: 0.1px solid black;
}
header{
  text-align:center;
}
.flex-main{
  display:flex;
  flex-flow:row wrap;border: 0.1px solid yellow;
}

article{

  --background: tomato;
  flex: 1 1 40%;
  
  color: red;
}
.formulario{
  padding-left: 20px;
  width: 50%; 
}
.boton-registro{
  margin-left: auto;
  align-self:
}
aside{
  --background: green;
  flex: 1 1 60%;

}
footer{
  --background: skyblue;
}
ul{
  padding:0;
  margin: 0;
  list-style-type:none;
  display:flex;
  flex-direction: row wrap;
  justify-content: space-around ;

  font-size: 20px;
}
nav ul li a{
  cursor: default;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: block;
  padding: 0.5rem;
}
nav ul li{
  cursor: pointer;
  padding: 0px;
  flex:1 1 auto;
  text-align: center;
  color: #0c005a;
}
nav ul li:hover{
  background-color: #0c005a;
  color: #ff0000;
}

.form-container{
  display: flex;
  flex-flow: column wrap;
  padding-right: 20px;

} 
.list-item { 
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 5px;
}
.list-item-buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.register-button{
  margin: 5px;
}
footer{
  display: flex;
  color: white;
}
footer img{
  border-radius: 50%;
}

.intro-part{
  min-height: 100vh;
  display: flex;
}
.intro-element{
  flex-grow: 1;
  flex-shrink:  1;
  flex-basis:  100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-text{
  color:black;
  font-size: 40px;
  background: lighten(green, 95%);
 

}
.intro-element > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}
.register-form{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}